.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.intro-section, .mission-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.intro-section {
    background-color: var(--containerBg);
}

.mission-section {
    background-color: var(--containerBg);
}

h2 {
    margin-top: 0;
}

.intro-buttons {
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #0056b3;
}