/**
 * Filename: App.css
 * Student name: Darpan Nayyar
 * Student ID: 301419475
 * Date: 2024-06-07
 */

 .App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .App-header {
    background-color: #9be1ed;
    padding: 10px 20px;
    color: #0d0d0d;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: unset;
    padding: 8px 12px;
    border-radius: 6px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

footer {
    background: #EEE;
    color: #AAA;
    text-align: center;
    padding: 2px 20px;
    margin-top: auto;
}