/**
 * Filename: App.css
 * Student name: Darpan Nayyar
 * Student ID: 301419475
 * Date: 2024-06-07
 */

 .App {
    font-family: Arial, sans-serif;
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}